<table class="no_border_table" style="width: 952px; background: black;" cellspacing="0" cellpadding="0">
	<tbody>
	<tr>
		<td class="table_header"><span class="table_span"><strong>home</strong></span></td>
	</tr>
	</tbody>
</table>
<ul id="mainslider">
	<li><a href="https://www.pursuitbicycles.com/shop/components.html"><img onmouseover="this.src='https://www.pursuitbicycles.com/skin/frontend/default/pursuit/images/home_lightbox_images/pursuit_home_1_overlay.jpg'" onmouseout="this.src='https://www.pursuitbicycles.com/skin/frontend/default/pursuit/images/home_lightbox_images/pursuit_home_1.jpg'" src="https://www.pursuitbicycles.com/skin/frontend/default/pursuit/images/home_lightbox_images/pursuit_home_1.jpg" alt="" /></a></li>
	<li><a href="https://www.pursuitbicycles.com/blog/test-post-3/"><img src="/media/wysiwyg/uploaded_images/pursuit_home_4.jpg" alt="image2" /></a></li>
	<li><a href="https://www.pursuitbicycles.com/shop/large-njs.html"><img src="/media/wysiwyg/uploaded_images/pursuit_home_1.jpg" alt="image2" /></a></li>
	<li><a href="https://www.pursuitbicycles.com/blog/champagne_watanabe/"><img src="/media/wysiwyg/uploaded_images/pursuit_home_2.jpg" alt="image2" /></a></li>
	<li><a href="#"><img src="/media/wysiwyg/uploaded_images/pursuit_home_5.jpg" alt="image2" /></a></li>
	<li><a href="#"><img src="/media/wysiwyg/uploaded_images/pursuit_home_6.jpg" alt="image2" /></a></li>
	<li><iframe id="vidplayer" src="https://player.vimeo.com/video/96543938?api=1&amp;player_id=vidplayer" frameborder="0" width="952" height="533"></iframe></li>
</ul>
<p>{{block type="core/template" template="custom/homeshopnow.phtml"}} {{block type="core/template" template="custom/homereaderrides.phtml"}}</p>